*{
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
}

.listItem{
    padding: 30px;
    border-bottom: 1px solid black;
    display: flex;
    height: auto;
    width: auto;
}

.imgs{
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.imgs img{
    height: auto;
    border: 2px solid darkcyan;
    box-shadow: 0 0 20px;
}

.listItemDetail{
    flex: 2;
    padding: 5px 0 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.listItemDetail a h1{
    font-family: monospace;
    font-size: 150%;
    letter-spacing: 2px;
    font-weight: bolder;
}

.listItemDetail h4{
    color: white;
    font-family: serif;
}