{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Mart</title>
    <link rel="stylesheet" href="{% static 'css files/login.css'%}">
</head>
<body>
    <div class="loginform">
        <form action="loginhome" method="POST">
            {% csrf_token %}
            <input type="text" name="Username" id="username" placeholder="Username"><br>
            <div class="inpiu"><input type="password" name="Password" id="Password" placeholder="Create Password"><input value="Show" id="checkbox" type="checkbox"><br></div>
            <input type="submit" value="LOGIN">
        </form>
        <h3>{{message}}</h3>
    </div>
</body>
<script>
    window.addEventListener('click',()=>{
        var checkbox = document.getElementById('checkbox');
        var Password = document.getElementById('Password');
        if(checkbox.checked){
            Password.type='text';
        }
        else{
            Password.type='password';
        };
    });
</script>
</html>

